
@using DoAn_LapTrinhWeb.Model
@model DoAn_LapTrinhWeb.Model.Banner
@{
    ViewBag.Title = "Khuyến mãi";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
<!-- start inner page banner -->
<div id="inner_banner" class="section inner_banner_section ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="title-holder">
                        <div class="title-holder-cell text-left">
                            <ol class="breadcrumb">
                                <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                                <li class="active">Khuyến mãi</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</div>

<div class="container-fluid h1 center text-uppercase mt-20px bg-light p-3">Khuyến mãi hot</div>

<div class="container mb-20px">
    <div class="row ">
        <div class="col-lg-6 mt-20px pe-2 ps-2">
            <div class="shadow rounded-3">
                <a href="@Url.Action("Bannerdetail", "Discount")" class="">
                    <div class="">
                        <img class="" style="width:100%; height:auto"
                             src="~/Content/Images/banner-detail.jpg" alt="">
                    </div>
                    <div class="ps-3 pe-3 pt-1 pb-1">

                        <p class="h6">Làm Việc Dễ Dàng Hơn Với Hyperdrive, HUB USB Giảm Đến 700.000đ</p>
                        <p class="color-green">7/15/2021 - 7/28/2021</p>
                    </div>
                </a>
            </div>
        </div>
        <!---->
        <div class="col-lg-6 mt-20px pe-2 ps-2">
            <div class="shadow rounded-3">
                <a href="@Url.Action("Bannerdetail", "Discount")" class="">
                    <div class="">
                        <img class="" style="width:100%; height:auto"
                             src="~/Content/Images/banner-detail.jpg" alt="">
                    </div>
                    <div class="ps-3 pe-3 pt-1 pb-1">

                        <p class="h6">Làm Việc Dễ Dàng Hơn Với Hyperdrive, HUB USB Giảm Đến 700.000đ</p>
                        <p class="color-green">7/15/2021 - 7/28/2021</p>
                    </div>
                </a>
            </div>
        </div>
        <!---->
        <div class="col-lg-6 mt-20px pe-2 ps-2">
            <div class="shadow rounded-3">
                <a href="@Url.Action("Bannerdetail", "Discount")" class="">
                    <div class="">
                        <img class="" style="width:100%; height:auto"
                             src="~/Content/Images/banner-detail.jpg" alt="">
                    </div>
                    <div class="ps-3 pe-3 pt-1 pb-1">

                        <p class="h6">Làm Việc Dễ Dàng Hơn Với Hyperdrive, HUB USB Giảm Đến 700.000đ</p>
                        <p class="color-green">7/15/2021 - 7/28/2021</p>
                    </div>
                </a>
            </div>
        </div>
        <!---->
        <div class="col-lg-6 mt-20px pe-2 ps-2">
            <div class="shadow rounded-3">
                <a href="@Url.Action("Bannerdetail", "Discount")" class="">
                    <div class="">
                        <img class="" style="width:100%; height:auto"
                             src="~/Content/Images/banner-detail.jpg" alt="">
                    </div>
                    <div class="ps-3 pe-3 pt-1 pb-1">

                        <p class="h6">Làm Việc Dễ Dàng Hơn Với Hyperdrive, HUB USB Giảm Đến 700.000đ</p>
                        <p class="color-green">7/15/2021 - 7/28/2021</p>
                    </div>
                </a>
            </div>
        </div>
        <!---->
        <div class="col-lg-6 mt-20px pe-2 ps-2">
            <div class="shadow rounded-3">
                <a href="@Url.Action("Bannerdetail", "Discount")" class="">
                    <div class="">
                        <img class="" style="width:100%; height:auto"
                             src="~/Content/Images/banner-detail.jpg" alt="">
                    </div>
                    <div class="ps-3 pe-3 pt-1 pb-1">

                        <p class="h6">Làm Việc Dễ Dàng Hơn Với Hyperdrive, HUB USB Giảm Đến 700.000đ</p>
                        <p class="color-green">7/15/2021 - 7/28/2021</p>
                    </div>
                </a>
            </div>
        </div>
        <!---->
        <div class="col-lg-6 mt-20px pe-2 ps-2">
            <div class="shadow rounded-3">
                <a href="@Url.Action("Bannerdetail", "Discount")" class="">
                    <div class="">
                        <img class="" style="width:100%; height:auto"
                             src="~/Content/Images/banner-detail.jpg" alt="">
                    </div>
                    <div class="ps-3 pe-3 pt-1 pb-1">

                        <p class="h6">Làm Việc Dễ Dàng Hơn Với Hyperdrive, HUB USB Giảm Đến 700.000đ</p>
                        <p class="color-green">7/15/2021 - 7/28/2021</p>
                    </div>
                </a>
            </div>
        </div>
        <!---->
        <div class="col-lg-6 mt-20px pe-2 ps-2">
            <div class="shadow rounded-3">
                <a href="@Url.Action("Bannerdetail", "Discount")" class="">
                    <div class="">
                        <img class="" style="width:100%; height:auto"
                             src="~/Content/Images/banner-detail.jpg" alt="">
                    </div>
                    <div class="ps-3 pe-3 pt-1 pb-1">

                        <p class="h6">Làm Việc Dễ Dàng Hơn Với Hyperdrive, HUB USB Giảm Đến 700.000đ</p>
                        <p class="color-green">7/15/2021 - 7/28/2021</p>
                    </div>
                </a>
            </div>
        </div>
        <!---->
        <div class="col-lg-6 mt-20px pe-2 ps-2">
            <div class="shadow rounded-3">
                <a href="@Url.Action("Bannerdetail", "Discount")" class="">
                    <div class="">
                        <img class="" style="width:100%; height:auto"
                             src="~/Content/Images/banner-detail.jpg" alt="">
                    </div>
                    <div class="ps-3 pe-3 pt-1 pb-1">

                        <p class="h6">Làm Việc Dễ Dàng Hơn Với Hyperdrive, HUB USB Giảm Đến 700.000đ</p>
                        <p class="color-green">7/15/2021 - 7/28/2021</p>
                    </div>
                </a>
            </div>
        </div>
        <!---->
        <!-- start pagination -->
        <div class="center mt-20px">
            <ul class="pagination style_1">
                <li><a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <!-- end pagination -->
    </div>
</div>
    <!-- end inner page banner -->
