@model DoAn_LapTrinhWeb.Model.Genre

@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Areas/Areas/Views/Shared/LayoutAdmin.cshtml";
}

@Html.Partial("_MessageAlert")
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Thể loại</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Dashboard")">
                                                 <u>Bảng điều khiên</u>
                                             </a>
            </li>
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Genres")">
                                                 <u>Thể loại</u>
                                             </a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Chi tiết</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-3">
        <br/>
        <a class="btn btn-info" href="@Url.Action("Edit", "Genres")">
            <i class="fa fa-arrow-left"></i><span class="Bold"> Quay về</span>
        </a>
        <a class="btn btn-danger" href="@Url.Action("Trash", "Genres")">
            <i class="fa fa-trash"></i><span class="Bold"> Thùng rác</span>
        </a>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <small style="font-size:20px;color: red;">@Model.genre_name</small>
                </div>
                <div class="ibox-content">
                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                    <div class="form-group">
                        <label>
                            <b>Người tạo: </b>
                        </label>

                        @Html.DisplayFor(model => model.create_by)
                    </div>
                    <div class="form-group">
                        <label>
                            <b>Ngày tạo: </b>
                        </label>

                        @Html.DisplayFor(model => model.create_at)
                    </div>
                    <div class="form-group">
                                            <label>
                                                <b>Người cập nhật: </b>
                                            </label>

                                            @Html.DisplayFor(model => model.update_by)
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                <b>Ngày cập nhât: </b>
                                            </label>

                                            @Html.DisplayFor(model => model.update_at)
                                        </div>

                </div>
            </div>
        </div>
    </div>
</div>


@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Genre</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.genre_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.genre_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.status)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.create_at)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.create_at)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.create_by)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.create_by)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.genre_id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>*@