@using PagedList.Mvc
@model PagedList.IPagedList<DoAn_LapTrinhWeb.Model.Genre>

@{
    ViewBag.Title = "Thùng rác";
    Layout = "~/Areas/Areas/Views/Shared/LayoutAdmin.cshtml";
}

@Html.Partial("_MessageAlert")
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Thể loại</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Dashboard")"><u>Bảng điều khiển</u></a>
            </li>
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Genres")"><u>Thể loại</u></a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Thùng rác</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-3">
        <br/>
        <a class="btn btn-info" href="@Url.Action("Index", "Genres")">
            <i class="fa fa-arrow-left"></i><span class="Bold"> Quay về</span>
        </a>
    </div>
</div>
<div class="row wrapper border-bottom white-bg">
    <div class="col-md-12 p-0">
        <form role="search" action="#" style="padding-top: 15px;">
            <div class="form-group" style="display:flex">
                <input type="text" class="form-control" id="searchString" placeholder="Nhập để tìm kiếm..." name="searchString" style="width:20%">
            </div>
        </form>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <table class="footable table table-striped toggle-arrow-tiny">
                        <thead>
                        <tr style="text-align: center">
                            <th>Tên thể loại</th>
                            <th>Trạng thái</th>
                            <th>Ngày tạo</th>
                            <th>Người tạo</th>
                            <th>Chức năng</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                           <tr style="text-align: center">
                                <td>
                                    <a href="@Url.Action("Details", "Genres", new {id = item.genre_id})"/> @item.genre_name
                                </td>
                                <td>
                                    @if (item.status == "0")
                                    {
                                        <a>Không hoạt động</a>
                                    }
                                    else
                                    {
                                        <a>Hoạt động</a>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.create_at)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.create_by)
                                </td>
                                <td>
                                                                    <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Hoàn tác">
                                                                        <a href="@Url.Action("Undo", "Genres", new {id = item.genre_id})" class="text-white">
                                                                            <i class="fa fa-undo"></i>
                                                                        </a>
                                                                    </button>
                                                                    <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Xóa">
                                                                        <a href="@Url.Action("Delete", "Genres", new {id = item.genre_id})" class="text-white">
                                                                            <i class="fa fa-ban"></i>
                                                                        </a>
                                                                    </button>
                                                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    <br />
                         Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

                                       @Html.PagedListPager(Model, page => Url.Action("Trash", new { page }))
                </div>
            </div>
        </div>
    </div>
</div>