@model DoAn_LapTrinhWeb.Model.Order

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Areas/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Order</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.order_id)

        <div class="form-group">
            @Html.LabelFor(model => model.payment_id, "payment_id", new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownList("payment_id", null, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.payment_id, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.delivery_id, "delivery_id", new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownList("delivery_id", null, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.delivery_id, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.oder_date, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.oder_date, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.oder_date, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.total, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.total, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.total, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.account_id, "account_id", new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownList("account_id", null, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.account_id, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.status, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.status, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.status, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.create_at, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.create_at, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.create_at, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.create_by, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.create_by, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.create_by, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>