@{
    ViewBag.Title = "Tin tức";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
<div class="it_service blog_grid new_page">
    <!-- start inner page banner -->
    <div id="inner_banner" class="section inner_banner_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="title-holder">
                            <div class="title-holder-cell text-left">
                                <ol class="breadcrumb">
                                    <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                                    <li class="active">Tin tức</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end inner page banner -->
    <!-- start content news -->
    <div class="section padding_layout_1 blog_grid">
        <div class="container pt-3 pb-3">
            <div class="row">
                <!-- start cột post -->
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="full">
                        @*start post*@
                        <div class="blog_section">
                            <div class="blog_feature_img"> <img class="img-responsive" src="https://cdn.tgdd.vn/Files/2021/06/30/1364406/huawei-event-3_1280x721-800-resize.jpg" alt="#"> </div>
                            <div class="blog_feature_cantant">
                                <p class="blog_head">Huawei tổ chức sự kiện lớn ra mắt hàng loạt sản phẩm mới vào 6/7 tại khu vực Châu Á, sẽ có Huawei P50 series?</p>
                                <div class="post_info">
                                    <ul>
                                        <li><i class="fa fa-user" aria-hidden="true"></i> Văn Nam</li>
                                        <li><i class="fa fa-comment" aria-hidden="true"></i> 105</li>
                                        <li><i class="fa fa-calendar" aria-hidden="true"></i> 29/06/2021</li>
                                    </ul>
                                </div>
                                <p class="limitlinetext">
                                    Huawei đã thông báo trên tài khoản mạng xã hội rằng hãng sẽ tổ chức sự kiện ra mắt sản phẩm vào ngày 6/7 tới đây. Sau nửa năm, Huawei sẽ đem đến những sản phẩm hàng đầu cho khu vực Châu Á 
                                    Thái Bình Dương bao gồm điện thoại, máy tính bảng và đồng hồ thông minh. Như có thể thấy từ hình ảnh chính thức do Huawei đăng tải, sự kiện ngày 6/7 tới đây là bước khẳng định chiến lược của hãng
                                    tại các nước Châu Á Thái Bình Dương, trong đó bao gồm cả Việt Nam – thị trường chiến lược mà Huawei luôn đầu tư để phát triển trong những năm qua.
                                </p>
                                <div class="bottom_info">
                                    <div class="pull-left"><a class="read_more" href="@Url.Action("NewsDetail","News")">ĐỌC THÊM <i class="fa fa-angle-right"></i></a></div>
                                    <div class="pull-right">
                                        <div class="shr">Share: </div>
                                        <div class="social_icon">
                                            <ul>
                                                <li class="fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                <li class="twi"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                <li class="gp"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                <li class="pint"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*end post*@
                        @*start post*@
                        <div class="blog_section">
                            <div class="blog_feature_img"> <img class="img-responsive" src="https://cdn.tgdd.vn/Files/2020/12/19/1314853/apple-iphone-xr_1280x720-800-resize.jpg" alt="#"> </div>
                            <div class="blog_feature_cantant">
                                <p class="blog_head">Có nên mua iPhone XR 2021? Chip Apple A12 mạnh mẽ, iOS mượt mà, hỗ trợ lâu dài mà giá chỉ 12.5 triệu, rất đáng sở hữu ngay</p>
                                <div class="post_info">
                                    <ul>
                                        <li><i class="fa fa-user" aria-hidden="true"></i> Minh Trường</li>
                                        <li><i class="fa fa-comment" aria-hidden="true"></i> 5</li>
                                        <li><i class="fa fa-calendar" aria-hidden="true"></i> 29/06/2021</li>
                                    </ul>
                                </div>
                                <p class="limitlinetext">
                                    Có nên mua iPhone XR 2021? Ra mắt cùng lúc với thế hệ iPhone Xs và Xs Max năm 2018, có thể nói với vòng đời lên đến 5 năm của các sản phẩm nhà Apple, thì iPhone XR vẫn còn rất đáng sở hữu bởi vì vẫn có một hiệu năng rất mạnh mẽ và một thiết kế tai thỏ chưa bao giờ là lỗi thời.
                                    Ngay lúc này, các chiếc iPhone XR chính hãng đang được giảm giá mạnh tại Thế Giới Di Động, cực kì đáng mua.
                                    Đọc ngay bài viết này để biết những lý do nên mua ngay em iPhone XR cực hot này nhé!
                                </p>
                                <div class="bottom_info">
                                    <div class="pull-left"><a class="read_more" href="@Url.Action("NewsDetail","News")">ĐỌC THÊM <i class="fa fa-angle-right"></i></a></div>
                                    <div class="pull-right">
                                        <div class="shr">Share: </div>
                                        <div class="social_icon">
                                            <ul>
                                                <li class="fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                <li class="twi"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                <li class="gp"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                <li class="pint"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*end post*@
                        @*start post*@
                        <div class="blog_section">
                            <div class="blog_feature_img"> <img class="img-responsive" src="https://cdn.tgdd.vn/Files/2021/06/30/1364393/taiyoutube_1280x720-800-resize.jpg" alt="#"> </div>
                            <div class="blog_feature_cantant">
                                <p class="blog_head">Cách tải video YouTube về máy tính nhanh gọn, chất lượng cao, nhiều định dạng, không cần cài thêm bất kì ứng dụng nào</p>
                                <div class="post_info">
                                    <ul>
                                        <li><i class="fa fa-user" aria-hidden="true"></i> Văn Nam</li>
                                        <li><i class="fa fa-comment" aria-hidden="true"></i> 105</li>
                                        <li><i class="fa fa-calendar" aria-hidden="true"></i>29/06/2021</li>
                                    </ul>
                                </div>
                                <p class="limitlinetext">
                                    Hẳn ai cũng xem YouTube, nhưng chắc không phải ai cũng biết cách tải video YouTube về máy tính của mình để xem lại khi không có mạng hoặc đơn giản muốn lưu trữ.
                                    Do đó, bài viết này mình sẽ hướng dẫn các bạn cách tải video YouTube về máy tính nhanh gọn, chất lượng cao, lưu nhiều định dạng khác nhau mà không cần cài thêm bất kì phần mềm nào khác.
                                </p>
                                <div class="bottom_info">
                                    <div class="pull-left"><a class="read_more" href="@Url.Action("NewsDetail","News")">ĐỌC THÊM <i class="fa fa-angle-right"></i></a></div>
                                    <div class="pull-right">
                                        <div class="shr">Share: </div>
                                        <div class="social_icon">
                                            <ul>
                                                <li class="fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                <li class="twi"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                <li class="gp"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                <li class="pint"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*end post*@
                        @*start post*@
                        <div class="blog_section">
                            <div class="blog_feature_img"> <img class="img-responsive" src="https://cdn.tgdd.vn/Files/2021/06/06/1357995/4_810x456-800-resize.jpg" alt="#"> </div>
                            <div class="blog_feature_cantant">
                                <p class="blog_head">Pin laptop là gì? Cách hoạt động, cấu tạo và pin laptop có mấy loại? Các bạn cứ xem bài viết sau đây là biết liền</p>
                                <div class="post_info">
                                    <ul>
                                        <li><i class="fa fa-user" aria-hidden="true"></i> Văn Nam</li>
                                        <li><i class="fa fa-comment" aria-hidden="true"></i> 10</li>
                                        <li><i class="fa fa-calendar" aria-hidden="true"></i> 29/06/2021</li>
                                    </ul>
                                </div>
                                <p class="limitlinetext">
                                    Có khi nào bạn tự hỏi bản thân rằng pin laptop là gì hay chưa? Hiển nhiên pin là một trong những bộ phận không thể thiếu bên trong một chiếc laptop, giúp chúng ta có thể mang thiết bị đi khắp nơi 
                                    sử dụng và hạn chế việc phải mang theo dây sạc. Thế nhưng, bạn có thật sự hiểu về pin của laptop? Hay pin laptop có mấy loại? Hãy cùng mình tìm ra câu trả lời thông qua bài viết ở bên dưới.
                                </p>
                                <div class="bottom_info">
                                    <div class="pull-left"><a class="read_more" href="@Url.Action("NewsDetail","News")">ĐỌC THÊM <i class="fa fa-angle-right"></i></a></div>
                                    <div class="pull-right">
                                        <div class="shr">Share: </div>
                                        <div class="social_icon">
                                            <ul>
                                                <li class="fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                <li class="twi"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                <li class="gp"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                <li class="pint"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*end post*@
                    </div>
                </div>
                <!-- end cột post -->
                <!-- start cột post -->
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="full">
                        @*start post*@
                        <div class="blog_section">
                            <div class="blog_feature_cantant theme_color_bg white_fonts">
                                <p class="blog_head">Cách tính tiền Bảo Hiểm Xã Hội (BHXH) 1 lần tự động ngay tại nhà, giúp bạn biết mức hưởng của mình bao nhiêu</p>
                                <div class="post_info">
                                    <ul>
                                        <li><i class="fa fa-user" aria-hidden="true"></i> Quang Vũ</li>
                                        <li><i class="fa fa-comment" aria-hidden="true"></i> 15</li>
                                        <li><i class="fa fa-calendar" aria-hidden="true"></i> 12/06/2021</li>
                                    </ul>
                                </div>
                                <p class="limitlinetext">
                                    Người lao động tham gia BHXH bắt buộc sau một năm nghỉ việc hoặc người tham gia BHXH tự nguyện sau một năm không tiếp tục tham gia đóng BHXH và các trường hợp khác
                                    như chưa đủ điều kiện hưởng lương hưu sẽ được nhận BHXH một lần. Sau đây là cách tính tiền Bảo hiểm xã hội 1 lần trên điện thoại và máy tính.
                                    Chú thích: Bạn có thể tham khảo các căn cứ pháp lý sau để tính tiền BHXH 1 lần cho mình: Luật Bảo hiểm xã hội 2014, Nghị định 115/2015/NĐ-CP,
                                    Nghị định 134/2015/NĐ-CP, Thông tư 59/2015/TT-BLĐTBXH, Thông tư 01/2016/TT-BLĐTBXH, Thông tư 23/2020/TT-BLĐTBXH.
                                </p>
                                <div class="bottom_info">
                                    <div class="pull-left"><a class="read_more" href="@Url.Action("NewsDetail","News")">ĐỌC THÊM <i class="fa fa-angle-right"></i></a></div>
                                    <div class="pull-right">
                                        <div class="shr">Share: </div>
                                        <div class="social_icon">
                                            <ul>
                                                <li class="fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                <li class="twi"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                <li class="gp"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                <li class="pint"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*end post*@
                        @*start post*@
                        <div class="blog_section">
                            <div class="blog_feature_img"> <img class="img-responsive" src="https://cdn.tgdd.vn/Files/2021/06/29/1364055/cach-doi-mat-khau-wifi_1280x720-800-resize.jpg" alt="#"> </div>
                            <div class="blog_feature_cantant">
                                <p class="blog_head">Cách đổi mật khẩu WiFi để có tốc độ truy cập Internet nhà bạn tốt hơn, cực nhanh chóng chỉ trong 1 phút là xong</p>
                                <div class="post_info">
                                    <ul>
                                        <li><i class="fa fa-user" aria-hidden="true"></i> Văn Nam</li>
                                        <li><i class="fa fa-comment" aria-hidden="true"></i> 1</li>
                                        <li><i class="fa fa-calendar" aria-hidden="true"></i> 29/06/2021</li>
                                    </ul>
                                </div>
                                <p class="limitlinetext">
                                    Trong quá trình sử dụng WiFi, đôi lúc bạn sẽ thấy mạng chậm đột ngột, chập chờn, có khi không truy cập được vào Internet. Nguyên nhân mạng chậm có thể do nhiều lý do như thời tiết,
                                    Cấu hình tối thiểu chơi PUBG (PlayerUnknown's Battlegrounds) mới nhất: Cần Intel i5 trở lên, RAM 8GB...
                                    đứt cáp quang biển, lộ pass WiFi khiến tốc độ truyền tải chậm do nhiều người dùng,... Thế thì sau đây, mình sẽ hướng dẫn mọi người cách đổi mật khẩu WiFi nhanh tại nhà mình nhé.
                                </p>
                                <div class="bottom_info">
                                    <div class="pull-left"><a class="read_more" href="@Url.Action("NewsDetail","News")">ĐỌC THÊM <i class="fa fa-angle-right"></i></a></div>
                                    <div class="pull-right">
                                        <div class="shr">Share: </div>
                                        <div class="social_icon">
                                            <ul>
                                                <li class="fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                <li class="twi"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                <li class="gp"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                <li class="pint"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*end post*@
                        @*start post*@
                        <div class="blog_section">
                            <div class="blog_feature_img"> <img class="img-responsive" src="https://cdn.tgdd.vn/Files/2021/06/30/1364375/logitech-g335-auriculares-gaming-colores-1000x600_1280x720-800-resize.jpg" alt="#"> </div>
                            <div class="blog_feature_cantant">
                                <p class="blog_head">Tai nghe chơi game Logitech G335 ra mắt: Thiết kế gọn nhẹ, nhiều màu sắc trẻ trung cùng mức giá rất phải chăng</p>
                                <div class="post_info">
                                    <ul>
                                        <li><i class="fa fa-user" aria-hidden="true"></i> Đức thịnh</li>
                                        <li><i class="fa fa-comment" aria-hidden="true"></i> 2</li>
                                        <li><i class="fa fa-calendar" aria-hidden="true"></i> 21/06/2021</li>
                                    </ul>
                                </div>
                                <p class="limitlinetext">
                                    Mới đây, Logitech đã ra mắt người dùng một mẫu tai nghe chơi game mới có tên Logitech G335. Sản phẩm là tai nghe có dây nổi bật với chất lượng ấn tượng và đi kèm màu sắc trẻ trung thể hiện cá tính riêng.
                                    Được biết, Logitech G335 là phiên bản nhỏ hơn, nhẹ hơn và có giá cả phải chăng hơn so với Logitech G733 được hãng giới thiệu vào năm ngoái. Nhà sản xuất cũng cho biết rằng họ đã thiết kế tai nghe dựa vào
                                    sự thoải mái với phần chụp tai thoáng khí và chất liệu lưới thể thao.
                                </p>
                                <div class="bottom_info">
                                    <div class="pull-left"><a class="read_more" href="@Url.Action("NewsDetail","News")">ĐỌC THÊM <i class="fa fa-angle-right"></i></a></div>
                                    <div class="pull-right">
                                        <div class="shr">Share: </div>
                                        <div class="social_icon">
                                            <ul>
                                                <li class="fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                <li class="twi"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                <li class="gp"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                <li class="pint"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*end post*@
                        @*start post*@
                        <div class="blog_section">
                            <div class="blog_feature_img"> <img class="img-responsive" src="https://cdn.tgdd.vn/Files/2021/06/27/1363716/cau-hinh-toi-thieu-choi-pubg-2_1280x720-800-resize.jpg" alt="#"> </div>
                            <div class="blog_feature_cantant">
                                <p class="blog_head">
                                    Cấu hình tối thiểu chơi PUBG (PlayerUnknown's Battlegrounds) mới nhất: Cần Intel i5 trở lên, RAM 8GB...</p>
                                <div class="post_info">
                                    <ul>
                                        <li><i class="fa fa-user" aria-hidden="true"></i> Văn Nam</li>
                                        <li><i class="fa fa-comment" aria-hidden="true"></i> 105</li>
                                        <li><i class="fa fa-calendar" aria-hidden="true"></i> 29/06/2021</li>
                                    </ul>
                                </div>
                                <p class="limitlinetext">
                                    PlayerUnknown's Battlegrounds (PUBG) là trò chơi hành động, sinh tồn được rất nhiều bạn trẻ Việt Nam và thế giới ưu chuộng. PUBG PC đã ghi nhận hơn 70 triệu người chơi vào 7/2020.
                                    Netflix giới thiệu gói Mobile Plan giá chỉ 70.000 đồng/tháng tại Việt Nam, có thể dùng chung tối đa 5 người
                                    Bạn không cần chỉ có kỹ năng cao, sự tập trung và kiên nhẫn mà còn cần PC có cấu hình tối thiểu chơi PUBG.
                                    Theo nhà phát hành, để chơi PUBG, máy tính của bạn cần đáp ứng được các yêu cầu về cấu hình như sau:
                                </p>
                                <div class="bottom_info">
                                    <div class="pull-left"><a class="read_more" href="@Url.Action("NewsDetail","News")">ĐỌC THÊM <i class="fa fa-angle-right"></i></a></div>
                                    <div class="pull-right">
                                        <div class="shr">Share: </div>
                                        <div class="social_icon">
                                            <ul>
                                                <li class="fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                <li class="twi"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                <li class="gp"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                <li class="pint"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*end post*@
                    </div>
                </div>
                <!-- end cột post -->
                <!-- start cột post -->
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="full">
                        @*start post*@
                        <div class="blog_section">
                            <div class="blog_feature_img"> <img class="img-responsive" src="https://cdn.tgdd.vn/Files/2021/06/28/1363968/netflix-on-mobile_1280x720-800-resize.jpg" alt="#"> </div>
                            <div class="blog_feature_cantant">
                                <p class="blog_head">Netflix giới thiệu gói Mobile Plan giá chỉ 70.000 đồng/tháng tại Việt Nam, có thể dùng chung tối đa 5 người</p>
                                <div class="post_info">
                                    <ul>
                                        <li><i class="fa fa-user" aria-hidden="true"></i> Văn Nam</li>
                                        <li><i class="fa fa-comment" aria-hidden="true"></i> 105</li>
                                        <li><i class="fa fa-calendar" aria-hidden="true"></i> 29/06/2021</li>
                                    </ul>
                                </div>
                                <p class="limitlinetext">
                                    Chất lượng nội dung mà Netflix mang lại là không phải bàn cãi, tuy nhiên tại Việt Nam không phải ai cũng có đủ điều kiện để trải nghiệm nền tảng này. Tin vui là sắp tới đây, 
                                    Netflix sẽ giới thiệu gói dịch vụ mới tại nước ta, giúp đáp ứng nhiều nhu cầu hơn của người dùng.
                                </p>
                                <div class="bottom_info">
                                    <div class="pull-left"><a class="read_more" href="@Url.Action("NewsDetail","News")">ĐỌC THÊM <i class="fa fa-angle-right"></i></a></div>
                                    <div class="pull-right">
                                        <div class="shr">Share: </div>
                                        <div class="social_icon">
                                            <ul>
                                                <li class="fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                <li class="twi"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                <li class="gp"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                <li class="pint"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*end post*@
                        @*start post*@
                        <div class="blog_section">
                            <div class="blog_feature_img"> <img class="img-responsive" src="https://cdn.tgdd.vn/Files/2021/06/25/1363197/window-11-beta-insider-khu-vuc-thong-bao_1280x720-800-resize.jpg" alt="#"> </div>
                            <div class="blog_feature_cantant">
                                <p class="blog_head">Đánh giá Windows 11 (Insider Preview): Giao diện mới đầy màu sắc, chạy được ứng dụng Android và còn nhiều tính năng thú vị nữa (liên tục cập nhật)</p>
                                <div class="post_info">
                                    <ul>
                                        <li><i class="fa fa-user" aria-hidden="true"></i> Trọng Nhân</li>
                                        <li><i class="fa fa-comment" aria-hidden="true"></i> 5</li>
                                        <li><i class="fa fa-calendar" aria-hidden="true"></i> /06/2021</li>
                                    </ul>
                                </div>
                                <p class="limitlinetext">
                                    Như vậy, Windows 11 sau nhiều tin rò rỉ từ trước thì Windows 11 chính thức ra mắt vào ngày 24/06. Đúng như kế hoạch mà Microsoft công bố trước đó, Windows 11 beta (Windows 11 Insider Preview builds)
                                    đã chính thức được tung ra trước cho các lập trình viên trải nghiệm. Ngay lập tức thì mình đã cập nhật bản beta này và sau đây là bài đánh giá Windows 11.
                                    Lưu ý: Bài viết vẫn được cập nhật liên tục cho đến khi Windows 11 bản cập nhật chính thức xuất hiện vào cuối năm nay.
                                </p>
                                <div class="bottom_info">
                                    <div class="pull-left"><a class="read_more" href="@Url.Action("NewsDetail","News")">ĐỌC THÊM <i class="fa fa-angle-right"></i></a></div>
                                    <div class="pull-right">
                                        <div class="shr">Share: </div>
                                        <div class="social_icon">
                                            <ul>
                                                <li class="fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                <li class="twi"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                <li class="gp"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                <li class="pint"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*end post*@
                        @*start post*@
                        <div class="blog_section">
                            <div class="blog_feature_img"> <img class="img-responsive" src="https://cdn.tgdd.vn/Files/2021/06/28/1363876/cau-hinh-toi-thieu-valorant-3_1280x720-800-resize.jpg" alt="#"> </div>
                            <div class="blog_feature_cantant">
                                <p class="blog_head">Cấu hình tối thiểu chơi Valorant mới nhất, là game thủ của Riot Games chắc chắn không nên bỏ lỡ</p>
                                <div class="post_info">
                                    <ul>
                                        <li><i class="fa fa-user" aria-hidden="true"></i> Văn Nam</li>
                                        <li><i class="fa fa-comment" aria-hidden="true"></i> 5</li>
                                        <li><i class="fa fa-calendar" aria-hidden="true"></i> 29/06/2021</li>
                                    </ul>
                                </div>
                                <p class="limitlinetext">
                                    Valorant là tựa game FPS (game bắn súng góc nhìn thứ nhất nhiều người chơi) từng được biết đến với tên gọi Project A, cũng là game bắn súng chiến thuật đầu tiên của Riot Games.
                                    Đây là cấu hình tối thiểu chơi Valorant mới nhất. Theo nhà phát hành, để chơi Valorant, thiết bị của bạn cần đáp ứng được các yêu cầu về cấu hình như sau:
                                </p>
                                <div class="bottom_info">
                                    <div class="pull-left"><a class="read_more" href="@Url.Action("NewsDetail","News")">ĐỌC THÊM <i class="fa fa-angle-right"></i></a></div>
                                    <div class="pull-right">
                                        <div class="shr">Share: </div>
                                        <div class="social_icon">
                                            <ul>
                                                <li class="fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                <li class="twi"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                <li class="gp"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                <li class="pint"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*end post*@
                        @*start post*@
                        <div class="blog_section">
                            <div class="blog_feature_img"> <img class="img-responsive" src="https://cdn.tgdd.vn/Files/2021/06/12/1359650/msi_gf63_10sc_i5_255vn_800x450.jpg" alt="#"> </div>
                            <div class="blog_feature_cantant">
                                <p class="blog_head">Deal xịn cuối tuần, những laptop này được giảm giá ngất ngây, với số lượng có hạn cho nên hãy nhanh đặt mua kẻo hết</p>
                                <div class="post_info">
                                    <ul>
                                        <li><i class="fa fa-user" aria-hidden="true"></i> Văn Nam</li>
                                        <li><i class="fa fa-comment" aria-hidden="true"></i> 105</li>
                                        <li><i class="fa fa-calendar" aria-hidden="true"></i> 29/06/2021</li>
                                    </ul>
                                </div>
                                <p class="limitlinetext">
                                    Cuối tuần này, Thế Giới Di Động tiếp tục mang tới deal xịn với số lượng có hạn dành cho laptop. Chỉ bằng những thao tác đặt mua đơn giản ngay
                                    trên website là bạn đã có thể ẵm về cho mình 1 chiếc máy tốt với giá siêu tiệt kiệm, đã thế bạn sẽ còn được hỗ trợ giao hàng tận nhà nhanh chóng.
                                </p>
                                <div class="bottom_info">
                                    <div class="pull-left"><a class="read_more" href="@Url.Action("NewsDetail","News")">ĐỌC THÊM <i class="fa fa-angle-right"></i></a></div>
                                    <div class="pull-right">
                                        <div class="shr">Share: </div>
                                        <div class="social_icon">
                                            <ul>
                                                <li class="fb"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                <li class="twi"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                <li class="gp"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                <li class="pint"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*end post*@
                    </div>
                </div>
                <!-- end cột post -->
                <!-- start menu post -->
                <!-- start pagination -->
                <div class="center">
                    <ul class="pagination style_1">
                        <li><a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <!-- end pagination -->
            </div>
        </div>
    </div>
    <!-- end content news -->
</div>